@model IEnumerable<DateProject1.Models.Ethnic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ethnicity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EthnicID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EthnicID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EthnicID })
        </td>
    </tr>
}

</table>
