@model IEnumerable<DateProject1.Models.Message>

@{
    ViewBag.Title = "Manage Messages";
}

<h2>Message Management</h2>


@using (Html.BeginForm("Index", "Messages", FormMethod.Get))
{
    <b> Search Options: </b> @Html.RadioButton("option", "UsernameToID") <text>UsernameFID</text> @Html.RadioButton("option", "UsernameFID") <text>UsernameToID</text> @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outbox)
        </th>
        <th>
            UsernameToID
        </th>
        <th>
            UsernameFID
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outbox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account1.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageID }) |
                @Html.ActionLink("Report", "../Reports/Create", new { id = item.MessageID })
            </td>
        </tr>
    }

</table>