<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<!--James: Style section with html shortcuts and style changes-->
<style>
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        padding: 10px;
    }
    .left {
        width: 45%;
        float: left;
        border-right: 3px solid black;
        height: 75%;
    }
    .right {
        width: 45%;
        float: right;
    }
    .headerArea {
        width: 100%;
        height: 100px;
    }
    .logoL {
        width: 15%;
        height: 105px;
        top: 0px;
        float: left;
        overflow: auto;
    }
    .bannerR {
        width: 85%;
        height: 105px;
        top: 0px;
        float: right;
        overflow: auto;
    }
    body {
        background-image: url("../../Content/Images/Gradiant_Pink_White.png");
            background-size: cover;
    }
</style>

</head>
<body>
    <div class="headerArea">
        <div class="logoL">
            <a href="../Home/Index">
                <img src="~/Content/Class-Mates Logo.png" style="width:100%; height:100px"/>
            </a>
        </div>
        <div class="bannerR">
            <img src="~/Content/Images/USCUpstatePanarama.png" style="width:100%; height:100px"/>
        </div>
    </div>
    <div class="navbar navbar-inverse" style="position: sticky">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CLASS-MATES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Manage Accounts", "Index", "Accounts")</li>
                            <li>@Html.ActionLink("Manage Profiles", "Index", "People")</li>
                            <li>@Html.ActionLink("Manage Messages", "Index", "Messages")</li>
                            <li>@Html.ActionLink("Manage Reports", "Index", "Reports")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Profile", "Prof", "People")</li>
                            <li>@Html.ActionLink("Matches", "Matches", "Accounts")</li>
                            <li>@Html.ActionLink("Messages", "Inbox", "Messages")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        }
                    }

                    else
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A Group 2 Production</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
